#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "LAYOUT";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   17   10       0     0     0>
            , <&key_physical_attrs 100 100  117   10       0     0     0>
            , <&key_physical_attrs 100 100  218   10       0     0     0>
            , <&key_physical_attrs 100 100  318   10       0     0     0>
            , <&key_physical_attrs 100 100  418   10       0     0     0>
            , <&key_physical_attrs 100 100  518   10       0     0     0>
            , <&key_physical_attrs 100 100  682    0       0     0     0>
            , <&key_physical_attrs 100 100  782    0       0     0     0>
            , <&key_physical_attrs 100 100  883    0       0     0     0>
            , <&key_physical_attrs 100 100  983    0       0     0     0>
            , <&key_physical_attrs 100 100 1083    0       0     0     0>
            , <&key_physical_attrs 100 100 1183    0       0     0     0>
            , <&key_physical_attrs 100 100    0   79       0     0     0>
            , <&key_physical_attrs 100 100  100   79       0     0     0>
            , <&key_physical_attrs 100 100  200   79       0     0     0>
            , <&key_physical_attrs 100 100  301   79       0     0     0>
            , <&key_physical_attrs 100 100  401   79       0     0     0>
            , <&key_physical_attrs 100 100  501   79       0     0     0>
            , <&key_physical_attrs 100 100  699   93       0     0     0>
            , <&key_physical_attrs 100 100  799   93       0     0     0>
            , <&key_physical_attrs 100 100  900   93       0     0     0>
            , <&key_physical_attrs 100 100 1000   93       0     0     0>
            , <&key_physical_attrs 100 100 1100   93       0     0     0>
            , <&key_physical_attrs 100 100 1200   93       0     0     0>
            , <&key_physical_attrs 100 100   11  179       0     0     0>
            , <&key_physical_attrs 100 100  125  179       0     0     0>
            , <&key_physical_attrs 100 100  226  179       0     0     0>
            , <&key_physical_attrs 100 100  326  179       0     0     0>
            , <&key_physical_attrs 100 100  426  179       0     0     0>
            , <&key_physical_attrs 100 100  526  179       0     0     0>
            , <&key_physical_attrs 100 100  722  193       0     0     0>
            , <&key_physical_attrs 100 100  823  193       0     0     0>
            , <&key_physical_attrs 100 100  923  193       0     0     0>
            , <&key_physical_attrs 100 100 1023  193       0     0     0>
            , <&key_physical_attrs 100 100 1124  193       0     0     0>
            , <&key_physical_attrs 100 100 1224  193       0     0     0>
            , <&key_physical_attrs 100 100   48  280       0     0     0>
            , <&key_physical_attrs 100 100  200  280       0     0     0>
            , <&key_physical_attrs 100 100  301  280       0     0     0>
            , <&key_physical_attrs 100 100  401  280       0     0     0>
            , <&key_physical_attrs 100 100  501  280       0     0     0>
            , <&key_physical_attrs 100 100  699  293       0     0     0>
            , <&key_physical_attrs 100 100  799  293       0     0     0>
            , <&key_physical_attrs 100 100  900  293       0     0     0>
            , <&key_physical_attrs 100 100 1000  293       0     0     0>
            , <&key_physical_attrs 100 100 1100  293       0     0     0>
            , <&key_physical_attrs 100 100 1200  293       0     0     0>
            , <&key_physical_attrs 100 100   30  372       0     0     0>
            , <&key_physical_attrs 100 100  117  372       0     0     0>
            , <&key_physical_attrs 100 100  218  372       0     0     0>
            , <&key_physical_attrs 100 100  418  372       0     0     0>
            , <&key_physical_attrs 100 100  783  363       0     0     0>
            , <&key_physical_attrs 100 100  983  363       0     0     0>
            , <&key_physical_attrs 100 100 1083  363       0     0     0>
            , <&key_physical_attrs 100 100 1183  363       0     0     0>
            ;
    };
};
